#mainAdopta{
    a{ 
        color: black;
        font-size: 30px
    }
    a:hover{
        color: nth($paletacolores, 2);
    }
}
.imgAdopta{ /*esto hace que la imagen ocupe el ancho de la pagina*/
    @include wiandhe(100%,auto);
    display: block;
}
.textoAdopta{
    margin-left: 50px;
    margin-right: 50px;
}
@media (min-width:1024px){
    #mainAdopta section{
    margin-left: 200px;
    margin-right: 200px;
    }
}